html {
    width: 100%;
    height: 100%;
    padding: 0px;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    background-image: linear-gradient(to bottom, #f8b595, #f67280, #c06c84, #6c5b7c);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: 100%;
    width: 100%;
}

main {
    margin: 20px 0px 20px 0px;
    padding: 20px;
    width: 90%;
    height: fit-content;
    border-image: url(./assets/borderRetro.jpg) 30 / 19px round;
}

nav {
    box-sizing: border-box;
    padding: 0px 50px 0px 50px;
    color: rgb(0, 0, 0);
    top: 0;
    height: 50px;
    width: 100vw;
    max-width: 100%;
    background-color: #ffb997;
    border-bottom: 5px inset #4a4949;
}

.nav-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header {
    gap: 20px;
    height: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

header a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 15px;
}

.servicos-dropdown {
    position: relative;
}

.servicos-content {
    display: none;
    position: absolute;
    padding: 10px;
    padding-top: 20px;
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #daa187;
    gap: 20px;
}

.servicos-dropdown:hover .servicos-content {
    display: flex;
    flex-direction: row;
}

.servicos-content a {
    row-gap: 20px;
    margin: 0;
    font-size: 15px;
    display: block;
    text-decoration: none;
    width: 100px;
    color: black;
}

.dropbtn {
    font-family: "Grenze Gotisch", serif;
    background-color: #ffb997;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin-top: 3px;
    margin-left: 10px;
    height: 40px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

form {
    height: fit-content;
    padding: 10px;
}

fieldset {
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

fieldset legend {
   text-align: center;
}

input {
    box-shadow: #f67280;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 180px;
}

input[name="enviar"] {
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(to left, #f8b595, #f67280, #c06c84, #6c5b7c);
    margin-top: 50px;
    bottom: 0;
    position: static;
    height: 25px;
    width: 190px;
}

label {
    font-size: 25px;
    text-align: left;
}

legend {
    font-size: 30px;
}

h1 {       
    text-transform: capitalize;
    color: var(--header-text);
    margin-top: 0px;
}

h2 {
    color: var(--general-text);
    margin-top: 0px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

