* {
    box-sizing: inherit;
}

html {
    background-color: #444040;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
}

body {
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: #e0d3d3;
}

.wrapper {
  min-height: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-body {
    height: fit-content;
    min-height: 10;
    padding: 30px;
    margin: 20px;
}

.page-body p {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin: 0;
    word-wrap: break-word;
    box-sizing: border-box
}

.page-footer {
    position: fixed;
    height: 50px;
    background-color: rgb(99, 90, 90);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


.footer-wrapper {
    text-align: center;
}